doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/layui/css/layui.css")
    script(src="/layui/layui.js")
  body
    block content
